<div class="image-slider">
						<!-- Slideshow 1 -->

						<div class="datagrid"><table>
						<thead><tr><th style ="width: 15%">Doctor Name</th><th>Doctor Name</th><th>Gender</th><th>Type</th><th>Hospital</th></tr></thead>

						<tbody ng-repeat="doctor in Doctors track by $index" style="margin-left=10%; margin-right=10%;">
							<tr>
							<td style ="width: 15%"><img src={{doctor.photoUrl}} style="width:5em;height:5em;" /></td>
							
							<td><input style="background: none; border: none; cursor: pointer; color: blue;" type="submit" ng-click="getDoctor(doctor.name)"  value={{doctor.name}} ></td>
							<td>{{doctor.gender}}</td>
							<td>{{doctor.type}}</td>
							<td>{{doctor.location}}</td>
					
							</tr>
						</tbody>
						</table></div>






						 <!-- Slideshow 2 -->
					</div>

